@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');

body, html, button {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* logo */

.navigation_area .container {
    background: skyblue radial-gradient(white, skyblue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    justify-content: center;
    display: flex;
    align-items: center;
}
.logo a img {
    object-fit: cover;
    width: 4em;
    height: 4em;
    /* margin: 0.5em; */
    border-radius: 50%;
}

/* menu */

.menu {
    margin-right: 1em;
}
.menu a, .menu a button, .logo a, .form {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    padding: 0.5em;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
}
.menu a:hover, .form a:hover {
    /* cursor: pointer; */
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    color: white;
}
button {
    font-size: 1em !important;
    padding: 0.8em;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: gray;
}

/* Hero */

/* .hero img {
    width: 100%;
    height: 100%;
    opacity: 0.7;
} */
/* .hero {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.container2 .hero p{
    text-align: center;
    font-size: 2em;
    color: black;
    /* -webkit-text-stroke: 0.5px red; */
    /* background-color: black; */
    line-height: 0.1em;
}
#bigtext {
    font-size: 8em;
    -webkit-text-stroke: 4px red;
}
.form {
    color: white;
}
.form a {
    text-decoration: none;
    color: black;
}
input[type=text], input[type=password], input[type=tel], select {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
